body {
    margin: 0;
}

.nav-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.container {
    margin: 1rem;
    text-align: center;
}

.site-title {
    font-size: 2rem;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-bar li.active {
    background-color: #555;
    padding: 0.25em;
}
.nav-bar li:hover {
    background-color: #777;
    padding: 0.25em;
}
